.DS_Store
applet
application.linux-arm64
application.linux-armv6hf
application.linux32
application.linux64
application.windows32
application.windows64
application.macosx
out

# images
*.jpg
*.png
*.tga
*.tif


# Library 
*.txt
*.csv
*.xyz 
*.ener
*.zip

/xyz/

*Icon

#Reaper
*.RPP-bak
*.mp3
*.wav
*.reapeaks

.DS_Store
Thumbs.db
.Spotlight-V100
.Trashes
ehthumbs.db
*.7z
Workflow/Three-Machines/Mastering/**
**~
**.swp
*.rpp-PROX
Workflow/Three-Machines/13-Drums-210117_0008.rpp
Workflow/Three-Machines/13-Drums-210117_0009.rpp
Workflow/Three-Machines/15-Drums-210117_0011.rpp
Workflow/Three-Machines/15-Drums-210117_0012.mid
Workflow/Three-Machines/15-Drums-210117_0012.rpp
Workflow/Three-Machines/Monitor-192000-rme.RPP
Workflow/Three-Machines/Monitor-44100-rme/Monitor-44100-rme.RPP
Workflow/Three-Machines/Monitor-96000-rme.RPP
Workflow/Three-Machines/Monitor-44100-rme.RPP
Workflow/Three-Machines/Monitor-48000-rme.RPP
Workflow/Three-Machines/Monitor-44100-rme.RPP
Workflow/Three-Machines/Monitor-48000-rme.RPP
