.DS_Store
applet
application.linux-arm64
application.linux-armv6hf
application.linux32
application.linux64
application.windows32
application.windows64
application.macosx
out

# images
*.jpg
*.png
*.tga
*.tif


# Library 
*.txt
*.csv
*.xyz 
*.ener
*.zip

/xyz/

*Icon

#Reaper
*.RPP-bak
*.mp3
*.wav
*.reapeaks

.DS_Store
Thumbs.db
.Spotlight-V100
.Trashes
ehthumbs.db
